@import url('https://fonts.googleapis.com/css2?family=Andalus&display=swap');
 @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image{
  width: 946px;
  height: 729px;
  top: 2149px;
  left: 974px;
  padding: 283px 532px 0px 22px;
  gap: 0px;
  border-radius: 500px 0px 0px 0px;
  opacity: 0px;
  }
  body {
    font-family: 'Noto Nastaliq Urdu', serif;
  }
  h1 {
    font-family: 'Scheherazade New', serif;
  }